In [1]:
# question 1

In [2]:
a = ['str',[1,2,3,4.4],3.7,(3,4,5)]

In [3]:
a

['str', [1, 2, 3, 4.4], 3.7, (3, 4, 5)]

In [4]:
# question 2

In [5]:
var1 = ''

In [6]:
type(var1)

str

In [7]:
var2='[DS,ML,Python]'

In [8]:
type(var2)

str

In [9]:
var3 =['DS','ML','Python']

In [10]:
type(var3)

list

In [11]:
var4 =1.

In [12]:
type(var4)

float

In [13]:
# question 3

In [14]:
a = 5/3

In [15]:
a

1.6666666666666667

In [16]:
b = 5%3

In [17]:
b

2

In [18]:
c = 5//3

In [19]:
c

1

In [20]:
d = 5**3

In [21]:
d

125

In [22]:
# question 4

In [23]:
list = [1,2,3,4,5,6.0,'push','sd',7.5,9]

In [24]:
for i in list:
   print(i,type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
6.0 <class 'float'>
push <class 'str'>
sd <class 'str'>
7.5 <class 'float'>
9 <class 'int'>

In [27]:
# question 6

In [29]:
a = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in range(len(a)):
    if (a[i]%3 ==0):
        print(a[i] ,'is divisible by 3')
    else:
        print(a[i] ,'is not divisible by 3')

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [30]:
# question 7

In [31]:
a = [1,2,3,4,5]
a.append(6)

In [32]:
a

[1, 2, 3, 4, 5, 6]

In [33]:
a.remove(3)

In [34]:
a

[1, 2, 4, 5, 6]

In [35]:
b = (2,'str',23.0,[1,2])

In [36]:
b.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [37]:
b.remove(2)

AttributeError: 'tuple' object has no attribute 'remove'

In [ ]:
# So we can say that list is mutable and Tuple is immutable, i.e. mutable means, we can modify the element but immutable means ,we can not modify the elements